# paths
*.egg-info/
.cache/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.tox/
.vscode/
build/
dist/
docs/site/
notebooks/private
venv/

# files
*.log
*.py[co]
.coverage
.env
*.db

# created by bmds2.7
log.txt

# current working version - # TODO - change remove when released
bmdscore.cp311-*
bmdscore.cpython-311-*
bmdscore.pyi
