# paths
*.egg-info/
.cache/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.tox/
.vscode/
build/
dist/
docs/_build/
venv/

# files
*.log
*.py[cod]
.env

# created by bmds2.7
log.txt

# until released
bmds/bin/BMDS330
