recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include bmds *.csv
recursive-include bmds *.docx
recursive-include bmds *.json
recursive-include bmds/benchmarks/datasets/data *.zip
recursive-include bmds/bin *.exe *.dll *.dylib *.so *.txt
