recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include bmds *.csv *.docx *.json *.txt

# comment/uncomment lines below depending on OS environment
# By default, all files are included but we can build smaller wheels
# to only include those which are required when generating the OS-specific wheels
recursive-include bmds/bin *.so
recursive-include bmds/bin *.dylib
recursive-include bmds/bin *.exe *.dll
