# build
wheel==0.36.2

# docs
Sphinx==3.5.4
watchdog==2.0.2

# tests
pytest==6.2.3
pytest-mpl==0.12
vcrpy==4.1.1
pytest-vcr==1.0.2

# lint and formatting tools
black==19.10b0
flake8==3.9.0
flake8-isort==4.0.0
isort==5.8.0
mypy==0.812

# install bmds in editable mode
-e .
