interactions:
- request:
    body: '{"inputs": [{"bmds_version": "BMDS240", "model_name": "Multistage-Cancer",
      "dfile": "Multistage-Cancer\nBMDS_Model_Run\n/temp/bmd/datafile.dax\n/temp/bmd/output.out\n4
      2\n500 1e-08 1e-08 0 1 1 0 0\n0.1 0 0.95\n-9999 -9999 -9999\n0\n-9999 -9999
      -9999\nDose Incidence NEGATIVE_RESPONSE\n0.000000 5 70\n1.960000 1 48\n5.690000
      3 47\n29.750000 14 35"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <omitted>
    method: POST
    uri: http://bmds-python.com/api/dfile/
  response:
    body:
      string: '[{"status":1,"output":"\n\n ====================================================================
        \n   \t  Multistage Cancer Model. (Version: 1.10;  Date: 02/28/2013) \n  \t  Input
        Data File: C:\\Windows\\TEMP\\bmds-dfile-lo5l2pgh.(d)  \n  \t  Gnuplot Plotting
        File:  C:\\Windows\\TEMP\\bmds-dfile-lo5l2pgh.plt\n \t\t\t\t\t\t\tWed Oct
        28 22:10:09 2020\n ====================================================================
        \n\n BMDS_Model_Run \n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
        \n   The form of the probability function is: \n\n   P[response] = background
        + (1-background)*[1-EXP(\n                 -beta1*dose^1-beta2*dose^2)]\n\n   The
        parameter betas are restricted to be positive\n\n[...]
