interactions:
- request:
    body: '{"inputs": [{"bmds_version": "BMDS270", "model_name": "Power", "dfile":
      "Power\nBMDS_Model_Run\n/temp/bmd/datafile.dax\n/temp/bmd/output.out\n1 5 0\n500
      1e-08 1e-08 0 1 1 0 0\n1 1.0 0 0.95\n-9999 -9999 -9999 -9999 -9999\n0\n-9999
      -9999 -9999 -9999 -9999\nDose NumAnimals Response Stdev\n0.000000 1244339 156.700000
      72.460000\n1.000000 39153 159.000000 74.470000\n10.000000 58064 156.070000 73.600000\n50.000000
      58307 161.710000 84.240000\n100.000000 56613 159.780000 81.890000"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: http://bmds-python.com/api/dfile/
  response:
    body:
      string: '[{"status":1,"output":"\n\n ====================================================================
        \n   \t  Power Model. (Version: 2.19;  Date: 03/14/2017) \n  \t  Input Data
        File: C:\\Windows\\TEMP\\bmds-dfile-ap2bucop.(d)  \n  \t  Gnuplot Plotting
        File:  C:\\Windows\\TEMP\\bmds-dfile-ap2bucop.plt\n \t\t\t\t\t\t\tMon Mar
        30 21:10:52 2020\n ====================================================================
        \n\n BMDS_Model_Run \n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
        \n   The form of the response function is: \n\n   Y[dose] = control + slope
        * dose^power\n\n\n   Dependent variable = Response\n   Ind[...]
