interactions:
- request:
    body: '{"inputs": [{"bmds_version": "BMDS270", "model_name": "Linear", "dfile":
      "Linear\nBMDS_Model_Run\n/temp/bmd/datafile.dax\n/temp/bmd/output.out\n1\n1
      5 0\n500 1e-08 1e-08 0 -1 1 0 0\n1 1.0 0 0.95\n-9999 -9999 -9999 -9999\n0\n-9999
      -9999 -9999 -9999\nDose NumAnimals Response Stdev\n0.000000 111 2.112000 0.235000\n10.000000
      142 2.095000 0.209000\n50.000000 143 1.956000 0.231000\n150.000000 93 1.587000
      0.263000\n400.000000 42 1.254000 0.159000"}, {"bmds_version": "BMDS270", "model_name":
      "Polynomial", "dfile": "Polynomial\nBMDS_Model_[...]
[...]
- request:
    body: '{"inputs": [{"bmds_version": "BMDS270", "model_name": "Multistage-Cancer",
      "dfile": "Multistage-Cancer\nBMDS_Model_Run\n/temp/bmd/datafile.dax\n/temp/bmd/output.out\n4
      1\n250 1e-08 1e-08 0 1 1 0 0\n0.1 0 0.95\n-9999 -9999\n0\n-9999 -9999\nDose
      Incidence NEGATIVE_RESPONSE\n0.000000 5 70\n1.960000 1 48\n5.690000 3 47\n29.750000
      14 35"}, {"bmds_version": "BMDS270", "model_name": "Multistage-Cancer", "dfile":
      "Multistage-Cancer\nBMDS_Model_Run\n/temp/bmd/datafile.dax\n/temp/bmd/output.out\n4
      2\n250 1e-08 1e-08 0 1 1 0 0\n0.1 0 0.95\n-9999 -9999 -9999\n0\n-9999 -9999
      -9999\nDose Incidence NEGATIVE_RESPONSE\n0.000000 5 70\n1.960000 1 48\n5.690000
      3 47\n29.750000 14 35"}, {"bmds_version": "BMDS270", "model_name": "Multistage-Cancer",
      "dfile": "Multistage-Cancer\nBMDS_Model_Run\n/temp/bmd/datafile.dax\n/temp/bmd/output.out\n4
      3\n250 1e-08 1e-08 0 1 1 0 0\n0.1 0 0.95\n-9999 -9999 -9999 -9999\n0\n-9999
      -9999 -9999 -9999\nDose Incidence NEGATIVE_RESPONSE\n0.000000 5 70\n1.960000
      1 48\n5.690000 3 47\n29.750000 14 35"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <omitted>
    method: POST
    uri: http://bmds-python.com/api/dfile/
  response:
    body:
      string: '[{"status":1,"output":"\n\n ====================================================================
        \n   \t  Multistage Model. (Version: 3.4;  Date: 05/02/2014) \n  \t  Input
        Data File: C:\\Windows\\TEMP\\bmds-dfile-je47mtm6.(d)  \n  \t  Gnuplot Plotting
        File:  C:\\Windows\\TEMP\\bmds-dfile-je47mtm6.plt\n \t\t\t\t\t\t\tTue Mar
        31 01:50:33 2020\n ====================================================================
        \n\n BMDS_Model_Run \n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
        \n   The form of the probability function is: \n\n   P[response] = background
        + (1-background)*[1-EXP(\n                 -beta1*dose^1)]\n\n   The parameter
        betas are restricted to be positive\n\n\n   Dependen[...]
