interactions:
- request:
    body: '{"inputs": [{"bmds_version": "BMDS260", "model_name": "Exponential-M5",
      "dfile": "Exponential-M5\nBMDS_Model_Run\n/temp/bmd/datafile.dax\n/temp/bmd/output.out\n1
      5 -1 0001 44 0 1\n500 1e-08 1e-08 0 1 0 0\n1 1.0 0 0.95\n-9999 -9999 -9999 -9999
      -9999 -9999\n0\n-9999 -9999 -9999 -9999 -9999 -9999\n-9999 -9999 -9999 -9999
      -9999 -9999\n0\n-9999 -9999 -9999 -9999 -9999 -9999\n-9999 -9999 -9999 -9999
      -9999 -9999\n0\n-9999 -9999 -9999 -9999 -9999 -9999\n-9999 -9999 -9999 -9999
      -9999 -9999\n0\n-9999 -9999 -9999 -9999 -9999 -9999\nDose NumAnimals Response
      Stdev\n0.000000 111 2.112000 0.235000\n10.000000 142 2.095000 0.209000\n50.000000
      143 1.956000 0.231000\n150.000000 93 1.587000 0.263000\n400.000000 42 1.254000
      0.159000"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: http://bmds-python.com/api/dfile/
  response:
    body:
      string: '[{"status":1,"output":"\n\n ====================================================================
        \n   \t  Exponential Model. (Version: 1.10;  Date: 01/12/2015) \n  \t  Input
        Data File: C:\\Windows\\TEMP\\bmds-dfile-6js9u6go.(d)  \n  \t  Gnuplot Plotting
        File:  \n \t\t\t\t\t\t\tMon Mar 30 21:11:14 2020\n ====================================================================
        \n\n BMDS_Model_Run \n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
        \n   The form of the response function by Model: \n      Model 2:     Y[dose]
        = a * exp{sign * b * dose}\n      Model 3:     Y[dose] = a * exp{sign * (b
        * dose)^d}\n      Model 4:     Y[dose] = a * [c-(c-1) * exp{-b * dose}]\n      Model
        5:     Y[dose] = a * [c-(c-1) * exp{-(b * dose)^d}]\n\n    Note: Y[dose] is
        the median response for exposure = dose;\n          sign = +1 for increasing
        trend in data;\n          sign = -1 for decreasing trend.\n\n      Model 2
        is nested within Models 3 and 4.\n      Model 3 is nested within Model 5.\n      Model
        4 is nested within Model 5.\n\n\n   Dependent variable = Response\n   Independent
        variable = Dose\n   Data are assumed to be distributed: normally\n   Variance
        Model: exp(lnalpha +rho *ln(Y[dose]))\n   The variance is to be modeled as
        Var(i) = exp(lalpha + log(mean(i)) * rho)\n\n   Total number of dose groups
        = 5\n   Total number of records with missing values = 0\n   Maximum number
        of iterations = 500\n   Relative Function Convergence has been set to: 1e-008\n   Parameter
        Convergence has been set to: 1e-008\n\n   MLE solution provided: Exact\n\n\n                  Initial
        Parameter Values\n\n                  Variable[...]
