interactions:
- request:
    body: '{"inputs": [{"bmds_version": "BMDS260", "model_name": "Dichotomous-Hill",
      "dfile": "Dichotomous-Hill\nBMDS_Model_Run\n/temp/bmd/datafile.dax\n/temp/bmd/output.out\n4\n500
      1e-08 1e-08 0 1 1 0 0\n0.1 0 0.95\n-9999 -9999 -9999 -9999\n0\n-9999 -9999 -9999
      -9999\nDose Incidence NEGATIVE_RESPONSE\n0.000000 5 70\n1.960000 1 48\n5.690000
      3 47\n29.750000 14 35"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: http://bmds-python.com/api/dfile/
  response:
    body:
      string: '[{"status":1,"output":"\n\n ====================================================================
        \n   \t  Dichotomous Hill Model. (Version: 1.3; Date: 02/28/2013) \n  \t  Input
        Data File: C:\\Windows\\TEMP\\bmds-dfile-elar0pvz.(d)  \n  \t  Gnuplot Plotting
        File:  C:\\Windows\\TEMP\\bmds-dfile-elar0pvz.plt\n \t\t\t\t\t\t\tMon Mar
        30 21:11:23 2020\n ====================================================================
        \n\n BMDS_Model_Run \n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
        \n   The form of the probability function is: \n\n   P[response] = v*g +(v-v*g)/[1+EXP(-intercept-slope*Log(dose))]\n\n        where:
        0 <= g < 1, 0 < v <= 1\n\n               v is the maximum probability of response
 [...]
