interactions:
- request:
    body: '{"inputs": [{"bmds_version": "BMDS270", "model_name": "Logistic", "dfile":
      "Logistic\nBMDS_Model_Run\n/temp/bmd/datafile.dax\n/temp/bmd/output.out\n6\n500
      1e-08 1e-08 0 0 0 1 0 0\n0.1 0 0.95\n-9999 -9999 -9999\n0\n-9999 -9999 -9999\nDose
      Incidence NEGATIVE_RESPONSE\n0.000000 0 10\n10.000000 0 10\n20.000000 3 7\n40.000000
      4 6\n80.000000 6 4\n120.000000 0 10"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <omitted>
    method: POST
    uri: http://bmds-python.com/api/dfile/
  response:
    body:
      string: '[{"status":1,"output":"\n\n ====================================================================
        \n   \t  Logistic Model. (Version: 2.15; Date: 3/20/2017) \n  \t  Input Data
        File: C:\\Windows\\TEMP\\bmds-dfile-3vmrdzi2.(d)  \n  \t  Gnuplot Plotting
        File:  C:\\Windows\\TEMP\\bmds-dfile-3vmrdzi2.plt\n \t\t\t\t\t\t\tTue Mar
        31 01:51:46 2020\n ====================================================================
        \n\n BMDS_Model_Run \n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
        \n   The form of the probability function is: \n\n   P[response] = 1/[1+EXP(-intercept-slope*dose)]\n\n\n   Dependent
        variable = Incid[...]
[...]
