interactions:
- request:
    body: '{"inputs": [{"bmds_version": "BMDS260", "model_name": "Power", "dfile":
      "Power\nBMDS_Model_Run\n/temp/bmd/datafile.dax\n/temp/bmd/output.out\n1 5 0\n500
      1e-08 1e-08 0 1 1 0 0\n1 1.0 0 0.95\n-9999 -9999 -9999 -9999 -9999\n0\n-9999
      -9999 -9999 -9999 -9999\nDose NumAnimals Response Stdev\n0.000000 111 2.112000
      0.235000\n10.000000 142 2.095000 0.209000\n50.000000 143 1.956000 0.231000\n150.000000
      93 1.587000 0.263000\n400.000000 42 1.254000 0.159000"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: http://bmds-python.com/api/dfile/
  response:
    body:
      string: '[{"status":1,"output":"\n\n ====================================================================
        \n   \t  Power Model. (Version: 2.18;  Date: 05/19/2014) \n  \t  Input Data
        File: C:\\Windows\\TEMP\\bmds-dfile-uz7o9zse.(d)  \n  \t  Gnuplot Plotting
        File:  C:\\Windows\\TEMP\\bmds-dfile-uz7o9zse.plt\n \t\t\t\t\t\t\tMon Mar
        30 21:11:15 2020\n ====================================================================
        \n\n BMDS_Model_Run \n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
        \n   The form of the response function is: \n\n   Y[dose] = control + slope
        * dose^power\n\n\n   Dependent variable = Response\n   Ind[...]
