interactions:
- request:
    body: '{"inputs": [{"bmds_version": "BMDS270", "model_name": "Linear", "dfile":
      "Linear\nBMDS_Model_Run\n/temp/bmd/datafile.dax\n/temp/bmd/output.out\n1\n1
      6 0\n500 1e-08 1e-08 0 -1 1 0 0\n1 1.0 1 0.95\n-9999 0 -9999 -9999\n0\n-9999
      -9999 -9999 -9999\nDose NumAnimals Response Stdev\n0.000000 10 29.300000 2.530000\n1340.000000
      10 28.400000 1.900000\n2820.000000 10 27.200000 2.530000\n5600.000000 10 26.000000
      2.530000\n11125.000000 10 25.800000 2.210000\n23000.000000 8 24.500000 1.580000"},
      {"bmds_version": "BMDS270", "model_name": "Polyno[...]
