interactions:
- request:
    body: '{"inputs": [{"bmds_version": "BMDS270", "model_name": "Linear", "dfile":
      "Linear\nBMDS_Model_Run\n/temp/bmd/datafile.dax\n/temp/bmd/output.out\n1\n1
      3 0\n500 1e-08 1e-08 0 1 1 0 0\n1 1.0 0 0.95\n-9999 -9999 -9999 -9999\n0\n-9999
      -9999 -9999 -9999\nDose NumAnimals Response Stdev\n0.000000 6 0.000000 0.000000\n0.200000
      6 0.000000 0.000000\n1.500000 6 0.000000 0.000000"}, {"bmds_version": "BMDS270",
      "model_name": "Polynomial", "dfile": "Polynomial\nBMDS_Model_Run\n/temp/bmd/datafile.dax\n/temp/bmd/output.out\n2\n1
      3 0\n500 1e-08 1e-0[...]
[...]
