interactions:
- request:
    body: '{"inputs": [{"bmds_version": "BMDS260", "model_name": "Multistage", "dfile":
      "Multistage\nBMDS_Model_Run\n/temp/bmd/datafile.dax\n/temp/bmd/output.out\n5
      3\n500 1e-08 1e-08 0 1 1 0 0\n0.1 0 0.95\n-9999 -9999 -9999 -9999\n0\n-9999
      -9999 -9999 -9999\nDose Incidence NEGATIVE_RESPONSE\n0.000000 289 0\n4.900000
      309 2\n30.000000 315 0\n96.000000 302 0\n290.000000 70 0"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <omitted>
    method: POST
    uri: http://bmds-python.com/api/dfile/
  response:
    body:
      string: '[{"status":1,"output":"\n\n ====================================================================
        \n   \t  Multistage Model. (Version: 3.4;  Date: 05/02/2014) \n  \t  Input
        Data File: C:\\Windows\\TEMP\\bmds-dfile-vjvis63v.(d)  \n  \t  Gnuplot Plotting
        File:  C:\\Windows\\TEMP\\bmds-dfile-vjvis63v.plt\n \t\t\t\t\t\t\tTue Mar
        31 01:52:02 2020\n ====================================================================
        \n\n BMDS_Model_Run \n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
        \n   The form of the probability function is: \n\n   P[response] = background
        + (1-background)*[1-EXP(\n                 -beta1*dose^1-beta2*dose^2-beta3*dose^3)]\n\n   The
        parameter betas are restricted to be[...]
